.GameScreen,
.ResultScreen {
    height: 100vh;
    background-image: linear-gradient(156deg, rgb(46, 182, 44, 0.9), rgb(197, 232, 183, 0.8)), url("https://i.imgur.com/MvcC7xt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.modalBox {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: rgb(130, 216, 116);
    border: 2px solid rgb(130, 216, 116);
    border-radius: 10px;
    justify-content: center;
    padding: 4px;
    background: "#FFFF00";
    transition: all 0.3s ease-in;
    align-items: center ;
}

.score_board>button {
    margin-top: 10px;
    height: 30px;   
    border: 0px;
    width: 20%;
    border-radius: 10px;
    background: #6B8836;
    color: white;
    cursor: pointer;
    margin: 2px;
}

.score_board p {
    display: flex;
    /* width: 50%; */
    justify-content: flex-end;
    font-size: 30px;

}

.score_board {
    display: flex;
    width: 50%;
    align-items: center;
    background: white;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
    padding: 0px 10px 0px 10px;
}

.modalBox p,
h1 {
    padding: 5px;
    font-size: 1.1rem;
}

.Active {
    border: 5px solid rgb(2, 55, 10);
    border-radius: 50%;
}

.tracker {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px;
}

.modalBox>button {
    width: 100px;
    padding: 5px;
    justify-content: flex-end;
}

.stages {
    width: 100%;
}

.stage_1 {
    width: 100%;
    display: flex;

    justify-content: center;
}

.stage_2,
.stage_3,
.stage_4,
.stage_5,
.stage_6,
.stage_7,
.stage_Final,
.stage_Result {
    width: 100%;
    display: flex;
    justify-content: center;
}


@media only screen and (min-width: 320px) and (max-width: 768px) {
    .modalBox {
        width: 90%;
    }

    .modalBox p,
    h1 {
        padding: 5px;
        font-size: 1rem;
    }

    .userName {
        width: 90%;
        font-size: 30px;
    }

    .tracker>img {
        width: 30px;
        object-fit: contain;
    }

    .score_board {
        /* flex-direction: column; */
        width: 95%;
        padding: 0px 5px 0px 5px;
    }

    .score_board p {
        font-size: 20px;
    }
}